<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description"
          content="{% if page_briefing %}{{ page_briefing }}{% else %}{{ site_briefing }}{% endif %}"/>
    <meta name="keywords" content="{% if page_tags %} {{ page_tags|join(', ') }}{% endif %}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link href="https://rawgit.com/richleland/pygments-css/master/github.css" rel="stylesheet" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      p {
        font-size: 1.3em;
        line-height: 1.5em;
      }

    #back2Top {
        width: 40px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: 50px;
        right: 0;
        background-color: #DDD;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }
    #back2Top:hover {
        background-color: #DDF;
        color: #000;
    }

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ site_title }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if site_links %}
            {% for title, link in site_links.items() %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<hr/>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <strong>Technical blog</strong>
                <ul>
                    <li><a href="/">All posts</a></li>
                    <li><a href="/tags.html">List of tags</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                {% if site_footer_links %}
                <strong>See also</strong>
                <ul>
                    {% for title, link in site_footer_links.items() %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="text-center"><small>{{ site_url }} &copy; 2015</small></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script>
        /*** https://html-online.com/articles/dynamic-scroll-back-top-page-button-javascript ***/
        /*Scroll to top when arrow up clicked BEGIN*/
        $(window).scroll(function() {
            var height = $(window).scrollTop();
            if (height > 100) {
                $('#back2Top').fadeIn();
            } else {
                $('#back2Top').fadeOut();
            }
        });
        $(document).ready(function() {
            $("#back2Top").click(function(event) {
                event.preventDefault();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            });

        });
        /*Scroll to top when arrow up clicked END*/

</script>
<a id="back2Top" title="Back to top" href="#">&#10148;</a>
</body>
</html>