{% extends "base.html" %}

{% block title %} {{ page_title }} - {{ site_title }} {% endblock %}

{% block content %}
    <div class="page-header">
      <h1>{{ page_title }}</h1>
      <p class="lead">{{ page_brefing }}</p>
    </div>
      {% for item in page_items %}
        <h2><a href="/{{ item['page_url'] }}">{{ item['page_title'] }}</a></h2>
        <small>
            {% for tag in item['page_tags'] %}
                <a href="/tag/{{ tag|replace(' ', '-') }}.html">
                    <span class="label label-default">{{ tag }}</span></a>
            {% endfor %}
        </small>
        <p>{{ item['page_briefing'] }}</p>
        <hr />
      {% endfor %}
      {% if total_pages > 0 %}
              <ul class="pagination">
                {% for page in range(total_pages) %}
                    {% if page_number == page %}
                        <li class="active"><a href="#">{{ page_number }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        {% if tag %}
                            <li><a href="/tag/{{ tag }}/page{{ page }}.html">{{ page }}</a></li>
                        {% else %}
                            <li><a href="/page{{ page }}.html">{{ page }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
              </ul>
      {% endif %}
{% endblock %}